{%extends 'base.html'%}
{%load static%}
{%block title%}Profile Page{%endblock%}
{%block header%}
<link rel="stylesheet" type="text/css" href="{% static 'css/profileStyle.css' %}"/>
<script type="module" src="{% static 'js/follow_unfollow.js' %}"></script>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
{%endblock%}

{%block content%}
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
<div class="container">
    {%csrf_token%}
    <div class="col-lg-8">
        <div class="panel profile-cover">
            <div class="profile-cover__username">
                <h2 class="h3">{{username}}</h2>
            </div>
            <div class="profile-cover__action bg--img" data-overlay="0.3">
                {%if is_me == True%}
                <a class="btn btn-rounded btn-info" href="{%url 'edit_profile'%}">
                    <span>EditProfile</span>
                </a>
                {%else%}
                <button class="btn btn-rounded {{follow_button}}" data-url="{% url 'follow' username%}"
                        id="follow_button"
                        data-action={{follow_action}} username={{username}}>
                    <i class="fa {{follow_icon}}" id="follow-tag"></i>
                    <span class="js-follow-text">{{follow_text}}</span>
                </button>
                {%endif%}
            </div>
            <div class="profile-cover__info">
                <ul class="nav">
                    <li>
                        <strong>
                            <a href="{% url 'network' username%}" style="text-decoration:none" id="followerNumber">{{follower}}</a></strong>
                        Followers
                    </li>
                    <li>
                        <strong ><a href="{% url 'network' username%}" style="text-decoration:none" id="followingNumber">{{following}}</a></strong>
                        Following
                    </li>
                </ul>
            </div>
        </div>
        <div class="panel">
            <div class="panel-heading">
                <h3 class="panel-title">About Me</h3>
            </div>
             <div class="panel-content panel-activity">
                         <p>{{about_me}}</p>
             </div>
        </div>
        <div class="panel">
            <div class="panel-heading">
                <h3 class="panel-title">Stories Posted</h3>
            </div>
            <div class="panel-content panel-activity">
                <ul class="panel-activity__list">
                    {%for story in stories%}
                    <li>
                        <div>
                            <h2 class="text-center">{{story.0.title}}</h2>
                            <div class="activity__list__body entry-content">
                                <p class="longtext">
                                    {{story.0.story}}
                                </p>
                            </div>
                            <div class="activity__list__footer">
                                <a href="" style="text-decoration:none"> <i class="fa fa-thumbs-up"></i>{{story.2}}</a>
                                <a href="#" style="text-decoration:none"> <i class="fa fa-comments"></i>{{story.1}}</a>
                                <span> <i class="fa fa-clock"></i>{{story.0.created_at}}</span>
                            </div>
                            <div class="">
                                <a href="{%url 'viewpost' story.0.id%}" class="stretched-link btn-link"></a>
                            </div>
                        </div>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>

{%endblock%}



